<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{{ url_for('static', path='/dfavicon.ico') }}" type="image/x-icon" media="(prefers-color-scheme: light)">
    <link rel="shortcut icon" href="{{ url_for('static', path='/lfavicon.ico') }}" type="image/x-icon" media="(prefers-color-scheme: dark)">
    <link rel="stylesheet" href="{{ url_for('static', path='/styles.css') }}">
    <title>OpenDrive</title>
</head>
<body>
    <div class="data-div" data-folder-id="{{ current_folder.id }}" data-folder-path="{{ current_folder.path }}" data-disk-usage="{{ disk_usage }}"></div>
    <div class="header-wrapper">
        <div class="header-container">
            <div class="search-wrapper">
                <input type="text" class="path-input">
            </div>
        </div>
    </div>
    <div class="main-wrapper">
        <div class="side-bar-wrapper">
            <div class="side-bar-container">
                <div class="general-buttons-wrapper">
                    <button id="home-button">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960">
                            <path d="M246.78-206.78H347V-400q0-22.09 15.46-37.54Q377.91-453 400-453h160q22.09 0 37.54 15.46Q613-422.09 613-400v193.22h100.22v-349.83L480-731.52 246.78-556.61v349.83Zm-106 0v-349.83q0-25.08 11.05-47.52 11.04-22.44 31.13-37.39l233.21-174.92q28.35-21.65 63.83-21.65t63.83 21.65l233.21 174.92q20.09 14.95 31.13 37.39 11.05 22.44 11.05 47.52v349.83q0 44.3-30.85 75.15-30.85 30.85-75.15 30.85H568.48q-22.09 0-37.55-15.46-15.45-15.46-15.45-37.54v-201.7h-70.96v201.7q0 22.08-15.45 37.54-15.46 15.46-37.55 15.46H246.78q-44.3 0-75.15-30.85-30.85-30.85-30.85-75.15ZM480-469.43Z"/>
                        </svg>
                        <span>Home</span>
                    </button>
                </div>
                <div class="side-bar-line"></div>
                <div class="favorites-buttons-wrapper">
                    {% for favorite in favorites %}
                    <button class="fav-button" data-id="{{ favorite.id }}" onclick="pressFavoriteButton(event)">
                        <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px">
                            <path d="M166.78-140.78q-44.3 0-75.15-30.85-30.85-30.85-30.85-75.15v-466.44q0-44.3 30.85-75.15 30.85-30.85 75.15-30.85h224.74L480-730.74h313.22q44.3 0 75.15 30.85 30.85 30.85 30.85 75.15v377.96q0 44.3-30.85 75.15-30.85 30.85-75.15 30.85H166.78Z"/>
                        </svg>
                        <span>{{ favorite.path.split("/")[-1] }}</span>
                        <div class="fav-delete" onclick="pressDeleteFavoriteButton(event)">
                            <svg xmlns="http://www.w3.org/2000/svg" height="20px" viewBox="0 -960 960 960" width="20px" fill="#ffffff">
                                <path d="M273.78-100.78q-44.3 0-75.15-30.85-30.85-30.85-30.85-75.15v-507q-22.09 0-37.54-15.46-15.46-15.46-15.46-37.54 0-22.09 15.46-37.55 15.45-15.45 37.54-15.45H347q0-22.09 15.46-37.55 15.45-15.45 37.54-15.45h158.87q22.09 0 37.54 15.45 15.46 15.46 15.46 37.55h180.35q22.09 0 37.54 15.45 15.46 15.46 15.46 37.55 0 22.08-15.46 37.54-15.45 15.46-37.54 15.46v507q0 44.3-30.85 75.15-30.85 30.85-75.15 30.85H273.78Zm155.57-193.26q13.48-13.48 13.48-32.74v-267.57q0-19.26-13.48-32.74t-32.74-13.48q-19.26 0-33.02 13.48-13.76 13.48-13.76 32.74v267.57q0 19.26 13.76 32.74 13.76 13.47 33.02 13.47 19.26 0 32.74-13.47Zm167.35 0q13.47-13.48 13.47-32.74v-267.57q0-19.26-13.47-32.74-13.48-13.48-32.74-13.48t-33.03 13.48q-13.76 13.48-13.76 32.74v267.57q0 19.26 13.76 32.74 13.77 13.47 33.03 13.47t32.74-13.47Z"/>
                            </svg>
                        </div>
                    </button>
                    {% endfor %}
                </div>
                <div class="disk-wrapper">
                    <div class="disk-container">
                        <div class="disk-bar">
                            <div class="disk-progress"></div>
                        </div>
                        <div class="disk-text"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="storage-wrapper">
            <div class="grid-wrapper" id="dropZone">
                <div class="grid-container">
                    {% if folders %}
                    <div class="folders-grid">
                        {% if current_folder.parent_id is not none %}
                        <div class="item folders" data-id="{{ current_folder.parent_id if not parent_folder_is_main else 'home' }}" data-item-type="folder">
                            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#789DE5">
                                <path d="M166.78-140.78q-44.3 0-75.15-30.85-30.85-30.85-30.85-75.15v-466.44q0-44.3 30.85-75.15 30.85-30.85 75.15-30.85h224.74L480-730.74h313.22q44.3 0 75.15 30.85 30.85 30.85 30.85 75.15v377.96q0 44.3-30.85 75.15-30.85 30.85-75.15 30.85H166.78Z"/>
                            </svg>
                            <span>..</span>
                        </div>
                        {% endif %}

                        {% for folder in folders %}
                        <div class="item folders" data-id="{{ folder.id }}" data-item-type="folder">
                            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#789DE5">
                                <path d="M166.78-140.78q-44.3 0-75.15-30.85-30.85-30.85-30.85-75.15v-466.44q0-44.3 30.85-75.15 30.85-30.85 75.15-30.85h224.74L480-730.74h313.22q44.3 0 75.15 30.85 30.85 30.85 30.85 75.15v377.96q0 44.3-30.85 75.15-30.85 30.85-75.15 30.85H166.78Z"/>
                            </svg>
                            <span>{{ folder.path.split("/")[-1] }}</span>
                        </div>
                        {% endfor %}
                    </div>
                    {% else %}
                    {% if current_folder.parent_id is not none %}
                    <div class="folders-grid">
                        <div class="item folders" data-id="{{ current_folder.parent_id if not parent_folder_is_main else 'home' }}" data-item-type="folder">
                            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#789DE5">
                                <path d="M166.78-140.78q-44.3 0-75.15-30.85-30.85-30.85-30.85-75.15v-466.44q0-44.3 30.85-75.15 30.85-30.85 75.15-30.85h224.74L480-730.74h313.22q44.3 0 75.15 30.85 30.85 30.85 30.85 75.15v377.96q0 44.3-30.85 75.15-30.85 30.85-75.15 30.85H166.78Z"/>
                            </svg>
                            <span>..</span>
                        </div>
                    </div>
                    {% endif %}
                    {% endif %}

                    {% if files %}
                    <div class="files-grid">
                        {% for file in files %}
                        <div class="item files" data-id="{{ file.id }}" data-size="{{ file.size }}" data-mime-type="{{ file.mime_type }}" data-item-type="file">
                            {% if "image/" in file.mime_type and file.mime_type != "image/svg+xml" %}
                                <div class="image-container">
                                    {% if not file.preview %}
                                        <img src="/api/files/{{ file.id }}" alt="" draggable="false">
                                    {% else %}
                                        <img src="/api/files/{{ file.id }}/preview" alt="" draggable="false">
                                    {% endif %}
                                    <svg class="preview" xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#e3e3e3">
                                        <path d="M206.78-100.78q-44.3 0-75.15-30.85-30.85-30.85-30.85-75.15v-546.44q0-44.3 30.85-75.15 30.85-30.85 75.15-30.85h546.44q44.3 0 75.15 30.85 30.85 30.85 30.85 75.15v546.44q0 44.3-30.85 75.15-30.85 30.85-75.15 30.85H206.78Zm0-106h546.44v-546.44H206.78v546.44Zm0 0v-546.44 546.44Zm75.48-66.44h395.48q16.52 0 23.65-14.39 7.13-14.39-2.56-27.78l-107.74-147q-7.7-10.83-21.09-11.11-13.39-.28-21.65 10.54L450-331.3l-68.35-91.66q-8.26-10.82-21.65-10.54-13.39.28-21.09 11.11l-77.74 107q-9.69 13.39-2.56 27.78 7.13 14.39 23.65 14.39Zm109.57-294.95Q413-589.35 413-620t-21.17-51.83Q370.65-693 340-693t-51.83 21.17Q267-650.65 267-620t21.17 51.83Q309.35-547 340-547t51.83-21.17Z"/>
                                    </svg>
                                </div>
                            {% elif "video/" in file.mime_type %}
                                {% if file.preview %}
                                    <div class="image-container">
                                        <img src="/api/files/{{ file.id }}/preview" alt="" draggable="false">
                                        <svg class="preview" xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#ffffff">
                                            <path d="m166.78-819.22 65 130q7 14 20 22t28 8q30 0 46-25.5t2-52.5l-41-82h80l65 130q7 14 20 22t28 8q30 0 46-25.5t2-52.5l-41-82h80l65 130q7 14 20 22t28 8q30 0 46-25.5t2-52.5l-41-82h106.44q44.3 0 75.15 30.85 30.85 30.85 30.85 75.15v466.44q0 44.3-30.85 75.15-30.85 30.85-75.15 30.85H166.78q-44.3 0-75.15-30.28-30.85-30.29-30.85-74.03v-468.13q0-44.3 30.85-75.15 30.85-30.85 75.15-30.85Zm0 266v306.44h626.44v-306.44H166.78Zm0 0v306.44-306.44Z"/>
                                        </svg>
                                    </div>
                                {% endif %}
                            {% elif file.mime_type == "application/x-msdownload" %}
                                {% if file.preview %}
                                    <div class="image-container">
                                        <img src="/api/files/{{ file.id }}/preview" alt="" draggable="false">
                                        <svg class="preview" xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#ffffff">
                                            <path d="M246.78-60.78q-44.3 0-75.15-30.85-30.85-30.85-30.85-75.15v-626.44q0-44.3 30.85-75.15 30.85-30.85 75.15-30.85h277.39q21.23 0 40.46 7.98 19.24 7.98 34.2 22.94L788.3-678.83q14.96 14.96 22.94 34.2 7.98 19.23 7.98 40.46v437.39q0 44.3-30.85 75.15-30.85 30.85-75.15 30.85H246.78Zm266.44-585.44v-147H246.78v626.44h466.44v-426.44h-147q-22.09 0-37.55-15.45-15.45-15.46-15.45-37.55Zm-266.44-147v200-200 626.44-626.44Z"/>
                                        </svg>
                                    </div>
                                {% else %}
                                    <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#F3F3F3">
                                        <path d="M360-440h240q17 0 28.5-11.5T640-480q0-17-11.5-28.5T600-520H360q-17 0-28.5 11.5T320-480q0 17 11.5 28.5T360-440Zm0 120h240q17 0 28.5-11.5T640-360q0-17-11.5-28.5T600-400H360q-17 0-28.5 11.5T320-360q0 17 11.5 28.5T360-320Zm0 120h120q17 0 28.5-11.5T520-240q0-17-11.5-28.5T480-280H360q-17 0-28.5 11.5T320-240q0 17 11.5 28.5T360-200ZM240-80q-33 0-56.5-23.5T160-160v-640q0-33 23.5-56.5T240-880h287q16 0 30.5 6t25.5 17l194 194q11 11 17 25.5t6 30.5v447q0 33-23.5 56.5T720-80H240Zm280-560q0 17 11.5 28.5T560-600h160L520-800v160Z"/>
                                    </svg>
                                {% endif %}
                            {% else %}
                                <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#F3F3F3">
                                    <path d="M360-440h240q17 0 28.5-11.5T640-480q0-17-11.5-28.5T600-520H360q-17 0-28.5 11.5T320-480q0 17 11.5 28.5T360-440Zm0 120h240q17 0 28.5-11.5T640-360q0-17-11.5-28.5T600-400H360q-17 0-28.5 11.5T320-360q0 17 11.5 28.5T360-320Zm0 120h120q17 0 28.5-11.5T520-240q0-17-11.5-28.5T480-280H360q-17 0-28.5 11.5T320-240q0 17 11.5 28.5T360-200ZM240-80q-33 0-56.5-23.5T160-160v-640q0-33 23.5-56.5T240-880h287q16 0 30.5 6t25.5 17l194 194q11 11 17 25.5t6 30.5v447q0 33-23.5 56.5T720-80H240Zm280-560q0 17 11.5 28.5T560-600h160L520-800v160Z"/>
                                </svg>
                            {% endif %}
                            <span>{{ file.filename }}</span>
                        </div>
                        {% endfor %}
                    </div>
                    {% endif %}

                </div>
            </div>
        </div>
    </div>
    <div class="background-wrapper">
        <div class="background-container"></div>
    </div>
    <div id="grid-context-menu" class="context-menu">
        <input type="file" id="fileInput" multiple hidden>
        <label for="fileInput" class="context-item">Upload Files</label>
        <div class="context-item" data-action="create-folder">Create Folder</div>
        <div class="context-item" data-action="properties">Properties</div>
    </div>
    <div id="files-context-menu" class="context-menu">
        <div class="context-item" data-action="download">Download</div>
        <div class="context-item" data-action="move">Move to</div>
        <div class="context-item" data-action="rename">Rename</div>
        <div class="context-item" data-action="delete">Delete</div>
        <div class="context-item" data-action="properties">Properties</div>
    </div>
    <div id="folders-context-menu" class="context-menu">
        <div class="context-item" data-action="download">Download</div>
        <div class="context-item" data-action="favorites">Add to favorites</div>
        <div class="context-item" data-action="rename">Rename</div>
        <!-- <div class="context-item" data-action="move">Move to</div> -->
        <div class="context-item" data-action="delete">Delete</div>
        <div class="context-item" data-action="properties">Properties</div>
    </div>
    <div class="dialog-wrapper">
        <div class="dialog-window"></div>
    </div>
    <script src="{{ url_for('static', path='/js/api.js') }}"></script>
    <script src="{{ url_for('static', path='/js/search.js') }}"></script>
    <script src="{{ url_for('static', path='/js/storage.js') }}"></script>
    <script src="{{ url_for('static', path='/js/favorites.js') }}"></script>
    <script src="{{ url_for('static', path='/js/main.js') }}"></script>
</body>
</html>